body {
  background-color: #222831;
  color: white;
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: bold;
}

/* Containers */

.container-fluid {
  padding: 7% 8%;
}

/* Headings */

.big-heading {
  font-family: "Italiana", sans-serif;
  font-size: 5.625rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  position: absolute;
  top: 5%;
  left: 8%;
  right: 8%;
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Tenor Sans";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 300;
}

/* Title Section */

#title {
  background: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title .container-fluid {
  padding: 2% 8%;
}

#title .big-heading {
  margin: 100px 0 20px;
  color: rgb(186, 228, 230);
  line-height: 0.9435135em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  filter: drop-shadow(0em 0em 0.01653125em rgba(50, 175, 182, 0.95))
    drop-shadow(0em 0em 0.08265625em rgba(99, 178, 182, 0.75))
    drop-shadow(0em 0em 0.24796875em rgba(99, 178, 182, 0.44));
  transform: translateZ(0px);
}

#title .introduction .heading {
  font-size: 2rem;
  font-weight: 400;
}

.consultation-btn {
  margin-top: 12%;
}

/* Portfolio */

#portfolio .card {
  text-align: left;
  margin: 0 auto;
}

/* About */

#about {
  text-align: left;
}

#about .container-fluid {
  padding: 7% 15%;
}

.profile-picture {
  margin-bottom: 25px;
}

#about .heading {
  font-size: 2.5rem;
}

.lead {
  font-size: max(
    calc(12px * var(--rfso, var(--bfso, 1))),
    calc(1.65934114em - var(--ffsd))
  );
  color: rgb(186, 228, 230);
  line-height: 1.3235333em;
  text-transform: none;
  letter-spacing: 0.037em;
  filter: drop-shadow(0em 0em 0.01653125em rgba(50, 175, 182, 0.95))
    drop-shadow(0em 0em 0.08265625em rgba(99, 178, 182, 0.75))
    drop-shadow(0em 0em 0.24796875em rgba(99, 178, 182, 0.44));
  transform: translateZ(0px);
}

/* Services Section */

#services {
  padding: 100px;
}

#services .card {
  color: #000;
  margin: 0 auto;
  text-align: left;
}

#services .card-title {
  margin-bottom: 20px;
}

.service-column {
  padding: 3% 2%;
}

#services .card {
  height: 100%;
}

#services .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#services .card-img-top {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* Call to Action */

#cta .cta-heading {
  margin-bottom: 40px;
}

.cta-button {
  margin: 4% 0 0 4%;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #222831;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.scroll-to-top.active {
  display: block;
}

/* Footer Section */

#footer .heading {
  margin-bottom: 30px;
}

.social-icon {
  font-size: 1.2rem;
  margin: 20px 10px;
}

@media screen and (max-width: 1028px) {
  .big-heading {
    font-size: 4rem;
  }

  .heading {
    font-size: 2rem;
  }

  #title .introduction .heading {
    font-size: 1.5rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  #about .container-fluid {
    padding: 7% 8%;
  }

  #about .heading {
    font-size: 1.8rem;
  }

  #services {
    padding: 70px;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 660px) {
  .big-heading {
    font-size: 3.5rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  #title .introduction .heading {
    font-size: 1.2rem;
  }

  #about .heading {
    font-size: 1.5rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  #services {
    padding: 50px;
  }
}
